@media (min-width: 320px) and (max-width: 425px) {
    .aligncenter h1 {
        font-size: 26px !important; 
        padding-bottom: 20px;
    }
    section.sub_slider {
        font-size: 10px !important; 
    }
    .information h1 {
        font-size: 19px !important;
        margin-bottom: 20px;
    }
    .con_information {
        display: block;
    }
    .fa.fa-phone-square {
        font-size: 35px;
        margin-left: 0px !important;
    }
    .fa.fa-envelope-square {
        font-size: 35px;
        margin-left: 0px !important;
    }
    .font_icon {
        text-align: center !important;
    }
    /* **********************about page*************************** */
    #inner-headline {
        text-align: center; 
    }
    .weare h1 {
        text-align: center;
        font-size: 24px; 
    }
    .weare p {
        text-align: center; 
        font-size: 15px !important;
    }
    button.btn.btn-outline-primary {  
        margin-top: 10px;
    }
    .aboutus p {
        font-size: 17px !important;
        text-align: center; 
        padding: 15px;
    }
    .font_text {
        text-align: center;
    }
    .Choose_us h1 {
        font-size: 25px !important; 
        text-align: center;
    }
    .Choose_us h2 {
        font-size: 30px !important; 
        text-align: center;
    }
    .Choose_us h3 {
        font-size: 30px !important; 
        text-align: center;
    }
    section#team h1 {
        text-align: center;
    }
    section#CoursesOffer p {
        text-align: center; 
    }


    h1.GLOBAL {
        font-size: 19px !important; 
    }
    h4.Choose { 
        font-size: 19px !important;
    }
    section#ourfacilities h1 {
        font-size: 30px !important; 
    }
    section#CoursesOffer h5 {
        text-align: center; 
    }
    .offer_start p {
        text-align: center; 
    }
    section#CoursesOffer h2 {
        text-align: center; 
    }
    .textbox h3 {
        text-align: center; 
    }
}
@media (min-width: 425px) and (max-width: 768px){
    .information h1 {
        font-size: 25px !important;
        margin-bottom: 20px;
    }
    .font_icon {
        text-align: center;
    }

       /* **********************about page*************************** */
       h2.pageTitle {
        text-align: center;
    }
    .weare h1 {
        text-align: center;
        font-size: 24px; 
    }
    .weare p {
        text-align: center; 
        font-size: 15px !important;
    }
    button.btn.btn-outline-primary {  
        margin-top: 10px;
    }
    .aboutus p {
        font-size: 17px !important;
        text-align: center; 
        padding: 15px;
    }
    .font_text {
        text-align: center;
    }
    .Choose_us h1,h2,h3 {
        font-size: 30px !important; 
        text-align: center;
    }
    section#team h1 {
        text-align: center;
    }
    #inner-headline {
        text-align: center; 
    }
    section#CoursesOffer p {
        text-align: center; 
    }
 
    .btn {
        display: none; 
    }
    section#CoursesOffer h5 {
        text-align: center; 
    }
    .offer_start p {
        text-align: center; 
    }
    section#CoursesOffer h2 {
        text-align: center; 
    }
    .textbox h3 {
        text-align: center; 
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .information h1 {
        font-size: 25px !important;
        margin-bottom: 20px;
    }
       /* **********************about page*************************** */
       h2.pageTitle {
        text-align: center;
    }
    .weare h1 {
        text-align: center;
        font-size: 24px; 
    }
    .weare p {
        text-align: center; 
        font-size: 15px !important;
    }
    button.btn.btn-outline-primary {  
        margin-top: 10px;
    }
    .aboutus p {
        margin-left: 40px !important;
        font-size: 17px !important;
        text-align: center;
        padding: 15px;
        margin-right: 40px !important;
    }
    .font_text {
        text-align: center;
    }
    .Choose_us h1,h2,h3 {
        font-size: 27px !important;
        text-align: center;
    }
    #inner-headline {
        text-align: center; 
    }
    section#CoursesOffer h5 {
        text-align: center; 
    }
    .offer_start p {
        text-align: center; 
    }
    .main_progress {
        margin-left: 30px;
    }
    section#CoursesOffer h2 {
        text-align: center; 
    }
    .textbox h3 {
        text-align: center; 
    }
   
}